#section1 
  {
  	padding-top:200px;height:657px;color: #fff;
  	background:url(https://images.unsplash.com/photo-1496568816309-51d7c20e3b21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
	background-size:cover;
	background-repeat:no-repeat;
	text-align: center;
	font-size: 1.5em;
	background-attachment: fixed;
	background-position: center;
 }