<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">City X</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/sights">Sights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/store">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/register">Register</a>
        </li>
       
      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>


<div class="container-fluid bg-dark text-light py-3" style="
bottom:0;">
<div class="container">
  <footer>
    <div>
      <p>© 2021 by CityX. All rights reserved.</p>
    </div>
  </footer>
</div>
</div>

